@charset "UTF-8";

/* Formata linha pares da tabela*/
tr:nth-child(even){
	background-color: silver;
}

/* Formata linha impares */
li:nth-child(odd){
	color: red;
}

th:hover {
	background-color: yellow;
}

#destacar {
	font-size: large;
	font-style: italic;
	color: red;
	
}
h1.negrito {
	font-family: Arial;
	font-style: bold;
	border-top: dashed;
}

h2, h3 {
	font-family: Verdana;
	font-style: italic;
}



body {
	font-family: Georgia;
	font-size: 15px;
}

#azul {
	color: #0044ff;
	font-size: 1.5em;
}

#verde {
	color: #00fe57;
	font-size: 5.5em;
}

#tabela {
	border: 1px solid black;
}